body {
    background-image: url("https://www.dropbox.com/scl/fi/pscmqxptohmw5w8a90lc4/mountains.jpg?rlkey=f4mdak1ddcuf8b3v10aayw4h5&raw=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
  
}

.weather-app {
    background: white;
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;

}

.search-form-input {
    background-color:lightpink;
    border: none;
    border-radius: 6px;
    width: 80%;
    padding:20px;


}